mixin cart(item)
    li.shop__item.shop
        a.shop__item-link
            .shop__item-img
                img(src=item.icon, alt=item.type)
            .shop__item-category!=item.type
            h4.shop__item-title!=item.title     
            .shop__item-desc!=item.desc
            .shop__item-bottom
                .shop__item-points
                    .shop__item-points-number!=item.points
                    .shop__item-points-curr QUID
                button.shop__btn.btn_hover Хочу накопить